/* General Configurations */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --Lineargradient-activeinputborder: hsl(249, 99%, 64%);
  --purple: hsl(278, 94%, 30%);
  --Red-inputerrors: hsl(0, 100%, 66%);
  --vender-red: hsl(0, 53%, 56%);
  --Green-inputerrors: #28a745;
  --White: hsl(0, 0%, 100%);
  --Lightgrayish: hsl(0, 0%, 97%);
  --Darkgrayish: hsla(279, 6%, 55%, 0.527);
  --Verydark: hsl(278, 68%, 11%);
  --header-font: "Orbitron";
  --secondary-font: "Roboto", sans-serif;
}
html,
body {
  font: normal normal 18px var(--secondary-font);
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}
.container-fluid.p-0.d-flex.align-items-center.justify-content-center {
  background-color: white;
  position: relative;
  z-index: 1;
}
#productName h3 {
  color: var(--Verydark);
}
.alert {
  box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.45);
  position: fixed;
  z-index: 9999;
}
.invalid-feedback {
  font-size: 0.8em;
}
#productName .text-dark {
  color: var(--vender-red) !important;
  text-decoration: line-through;
}
.bi-image {
  font-size: 5em;
}
/* Cards Configuration Start */
#front-card,
#back-card {
  position: relative;
}
#card-container {
  position: relative;
  background: black url("../images/bg-main-mobile.png") no-repeat;
  background-attachment: fixed;
  min-height: 40vh;
  background-size: cover;
  border: 1px solid purple;
}
#aligment-cards {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3rem;
  gap: 1rem;
}
.container-sm img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}
#front-card,
#back-card {
  position: relative;
  width: 100%;
}
#front-card {
  position: absolute;
  top: 56.59%;
  z-index: 9;
  transform: translateX(-50px);
}
#back-card {
  transform: translateX(50px);
}
/* Cards Configuration End */
#frontcard-content {
  top: 0;
  width: 100% !important;
  height: 100%;
}
#backcard-content {
  top: 95px;
  right: 45px;
  width: auto;
}
#cvc {
  letter-spacing: 2px;
}
#placeholder-card {
  word-spacing: 10px;
  letter-spacing: 2px;
}
.circles {
  margin-bottom: 2rem;
}
.infos-card {
  font-size: 0.8em;
}
/* Form configuration start */
#btnSubmit {
  align-self: end;
}
label {
  font: normal bold 0.85em var(--header-font);
  letter-spacing: 2.5px;
}
input:focus,
select:focus{
  border: 1px solid var(--purple) !important;
  box-shadow: none !important;
}
.accordion-button{
  border-color: var(--purple) !important;
  background-color: var(--Lightgrayish) !important; 
  color: var(--purple) !important; 
}
.accordion-button:focus{
  box-shadow: 0 0 10px 2px var(--Darkgrayish); 
  border-color: var(--purple);
  background-color: var(--Lightgrayish); 
  color: var(--purple); 
}
.accordion-button:focus-visible {
  box-shadow: 0 0 10px 2px var(--Darkgrayish);
}

.btn-dark {
  background-color: var(--Verydark);
  font-size: 0.95em;
  letter-spacing: 1px;
}
.btn-dark:hover {
  background-color: var(--purple);
}
/* Form configuration end */
h1 {
  letter-spacing: 3px;
  animation: fade 0.3s linear;
}
#form-complete {
  margin-top: calc(7vw) !important;
}
#form-complete p {
  color: var(--Darkgrayish);
  animation: fade 0.4s linear;
}
#form-complete img {
  animation: fade 0.2s linear;
}
#form-complete input {
  animation: fade 0.45s linear;
}
#productName p , #productName span{
  transition: all .5s ease-in-out;
}
#productName span{
  text-decoration: line-through;
}
.realPrice{
  font-size: 2em;
  text-decoration: none !important;
}
.descontPrice{
  font-size: 2em;
  text-decoration: none !important;
}
#desconto-btn:disabled,
#desconto-input:disabled{
  cursor: not-allowed;
}
.tooltip-inner {
  background-color: #dc3545 !important; 
  color: #fff !important; 
  z-index: 99999;
}
.tooltip-arrow::before {
  display: none !important;
}

@media (min-width: 2000px) {
  #productName {
    transform: translateX(-80px);
  }
}
@media (min-width: 1400px) {
  #backcard-content {
    top: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  #backcard-content {
    top: 4.5rem;
  }
  .circles {
    margin-bottom: 0.4rem;
  }
  #frontcard-content {
    padding: 0 20px !important;
    justify-content: space-evenly !important;
  }
  #number-card-placeholder {
    margin-bottom: 0rem !important;
  }
  #placeholder-card,
  .circles,
  .infos-card {
    font-size: calc(5px + 30%);
  }
  #backcard-content {
    top: calc(40%);
  }
}
@media (min-width: 769px) and (max-width: 825px) {
  #placeholder-card,
  .infos-card {
    font-size: calc(5px + 20%);
  }
}
@media (min-width: 768px) {
  #card-container {
    position: fixed;
    top: 0;
    left: 0;
    background: black url("../images/bg-main-desktop.png") repeat;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    z-index: 0;
  }
  .col-md-8 {
    margin-left: 33.33%;
    padding-left: 2rem;
    position: relative;
    z-index: 1;
    background-color: white;
    min-height: 100vh;
  }
  .row.align-items-center.gx-5.w-100 {
    margin-left: 0;
    margin-right: 0;
  }
  #aligment-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -90%);
    width: 80%;
  }
  #front-card {
    top: -20%;
    order: 1;
    transform: translateX(-100px);
    margin-bottom: 20px;
  }
  #back-card {
    transform: translate(-21%, 90%);
  }
  form,
  #form-complete {
    max-width: 100%;
  }
  #form-complete {
    margin-top: 0 !important;
  }
}
@media (max-width: 768px) {
  form {
    margin: 5rem 0 2rem;
  }
  #frontcard-content {
    left: 10%;
  }
  #backcard-content {
    top: 6rem;
    right: 5rem;
  }
  #productName {
    margin-left: 1.5rem;
  }
}
@media (max-width: 548px) {
  .container-sm img {
    max-width: 90%;
  }
  #placeholder-card,
  .circles,
  .infos-card,
  #backcard-content {
    font-size: calc(80%);
  }
  #frontcard-content {
    left: 7%;
    max-width: 90%;
  }
  #placeholder-card {
    width: 100%;
  }
  .circles {
    margin-bottom: 0%;
  }
  #backcard-content {
    top: 43%;
    right: 15%;
  }
  form {
    margin-top: 0.5rem;
  }
}
@media (max-width: 414px) {
  #placeholder-card,
  .circles,
  .infos-card {
    font-size: calc(1em - 30%);
  }
}
@media (max-width: 380px) {
  #placeholder-card,
  .circles,
  .infos-card {
    font-size: calc(1em - 50%);
  }
  #number-card-placeholder {
    margin-bottom: 0rem !important;
  }
}
@media (max-width: 324px) {
  #frontcard-content {
    padding: 10px 20px 10px 15px !important;
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
}

.valid-feedback,
.invalid-feedback {
  text-transform: initial !important;
  font-weight: 600 !important;
}

/* Remove o ícone quando o campo for inválido */
.form-control.is-invalid {
  background-image: none !important;
}
